.main {
  width: 100%;
  height: auto;
}
.main img {
  width: 100%;
  height: auto;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: 70px;
/*---------*/
  
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 video{
  max-width: 100%;
  padding: 50px 0;
  margin-top: 20px;
}
.col-2 h1{
  font-size: 30px;
  line-height: 60px;
  margin: 25px 0;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  /* background-color: #F0BE48; */
  
}
.container h2{
    margin-bottom: 20px;
    text-align: center;
    color: #201601;
    padding-top: 20px;
}
.roww{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
/*---------*/
  
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}
/*---------- 600 media query -------*/
@media only screen and (max-width: 600px){
    
  .row{
    text-align: center;
    margin-inline: 1px;
  }
  .col-2 h1{
    font-size: 20px;
    margin: 1px 0px;
    font-weight: bold;
  }
  
  .col-2, .col-4{
      flex-basis: 100%;
  }
}


